name: HLTV Botunu Calistir

on:
  schedule:
    - cron: '*/15 * * * *' # Her 15 dakikada bir çalışır (00, 15, 30, 45)
  workflow_dispatch: # Manuel çalıştırmak için buton

jobs:
  calistir:
    runs-on: ubuntu-latest

    steps:
    - name: Kodlari Cek
      uses: actions/checkout@v3

    - name: Python Kur
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Kutuphaneleri Yukle
      run: |
        pip install -r requirements.txt

    - name: Botu Baslat
      env:
        API_KEY: ${{ secrets.API_KEY }}
        API_SECRET: ${{ secrets.API_SECRET }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
      run: python bot.py
